html,
body,
#root {
  height: 100%;
  background-color: #ede7de;
  margin: auto;
}

.App {
  background-color: #ede7de;
  color: #025a4e;
  height: 100%;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
}

.main-content {
  margin: auto;
  width: 80%;
  height: 100vh;
}

.main-content-50 {
  margin: auto;
  width: 50%;
  height: 100vh;
}

.no_margin {
  margin: 0;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
}

.title-h1 {
  letter-spacing: 0.3rem;
}

a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  color: #025a4e;
}

a:link {
  text-decoration: none;
}

.button {
  background-color: #025a4e;
  color: #ede7de;
  height: 2.5rem;
  width: 13rem;
  font-size: 1.2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  border-style: solid 1px white;
}

a:hover {
  text-decoration: underline;
  color: hotpink;
  font-size: 1.3rem;
  margin: 10px;
  padding: 25px;
}

/* Name Form */

.name-input {
  height: 2.5rem;
  width: 13rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  border-style: dotted;
  margin: 1rem;
}

.name-form {
  margin: 2rem;
}

/* About */

.socialmedia_icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
}

a:hover {
  border: dotted 5px hotpink;
  border-radius: 75%;
}

/* Quiz.js */

.quiz-container {
  ul {
    list-style-type: none;
    margin-top: 20px;

    li {
      text-decoration: none;
      list-style: none;
      color: #ede7de;
      background-color: #025a4e;
      font-style: 16px;
      border: 1px solid;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }

    .selected-answer {
      background: white;
      color: #025a4e;
      border: 1px dotted hotpink;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  button {
    background-color: white;
    border-radius: 9px;
    font-size: 18px;
    color: #025a4e;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;

    &:disabled {
      color: #9c9c9c;
      background-color: #e7e8e9;
      cursor: not-allowed;
    }
  }

  .result {
    width: 100%;
  }
}
