.App {
  background-color: #ede7de;
  color: #025a4e;
  text-align: center;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1.0rem;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.title-h1 {
  letter-spacing: 0.3rem;
}

a {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}





/* Name Form */

.name-input {
  height: 2.5rem;
  width: 13rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-style: dotted;
  /* border-color:hsl(from pink h s l); */
  margin: auto;
}